* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
body{
    background-color: black;
    background-image: url('../images/bg.png');
    /* Define o PNG como fundo */
    background-size: cover;
    /* Faz a imagem cobrir toda a tela */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetição */


}

.container {
    padding: 5rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0rem;

}

